@inject ServiceRepository service

@{
    var resorts = await service.GetResorts();
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Toimipisteet</b>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @if (resorts != null)
        {
            @foreach (var item in resorts)
            {
                <form asp-controller="Home" asp-action="ByResort" method="post">
                    <input type="submit" value="@item.ResortName" asp-controller="Home" asp-action="ByResort" asp-route-SearchWord="@item.ResortName" class="dropdown-item nav-link" style="font-weight:bold;" />
                </form>
            }
        }
    </div>
</li>
