<div style="padding:100px"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="container">
                <div>
                    <br />
                    <br />
                    <h2 class="text-center">Matkakohteet</h2>
                    <br />
                    <p class="lead">
                        Valitse mieleisesi matkakohde ja löydä majoituspaikka. Village Peoplen mökkitarjonnasta löydät sopivan mökin juuri sinulle. Mökkihaussa pääset valitsemaan mökkejä eri matkakohteista ja voit liittää hakuun mökkien ominaisuuksia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="text-align:center;">
                <img src="/images/map-finland-blue.png" style="width: 270px; height: 501px;" />
            </div>
        </div>
    </div>
</div>

<div style="padding:60px;"></div>

<div class="jumbotron" style="background-color: #31ccfd; border-bottom-style: outset; border-radius: 1.5rem;">
    <h3 style="color:white;"><b>Mökin omistaja!</b></h3>
    <br />
    <h3 style="color:white;"><b>Haluatko vuokrata mökkisi? Se on täysin ilmaista.</b></h3>
    <h3><b><a asp-controller="Home" asp-action="BecomeCabinOwner">Lue lisää</a></b></h3>
</div>
