
<div style="padding:50px"></div>

<div class="text-center">
    <img style="width:400px; border-radius: 25px;" src="~/images/pier.png" />
</div>
<div style="padding:20px"></div>

<h1>Hei mökinvuokraaja!</h1>

<br />
<label>Lähetä pyyntö ryhtyä mökinvuokraajaksi, olemme sinuun yhteydessä mahdollisimman pian.</label>
<label>Hyväksyttyämme sinut mökinvuokraajaksi saat tunnuksellesi käyttöön ominaisuuksia, joilla pääset lisäämään/ylläpitämään mökin tietoja, sekä tarkastelemaan omien majoituspaikkojen varaustilanteita.</label>
<br />
<p><a href="mailto:cabins-online@outlook.com">cabins-online@outlook.com</a></p>


<div style="padding:100px"></div>