@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@using CommonModels
@model FrontEnd.Models.CabinSearch

@{
    IEnumerable<Cabin> cabins = ViewBag.Cabins;
}

@section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/datepicker-basic.css" type="text/css" />
}
<div style="padding:50px;"></div>
<form asp-action="Search" method="get" >
    <div class="jumbotron" style="border-bottom-style: outset; border-radius: 1.5rem; background-color: #31ccfd;">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-3">
                    <!--TODO: Maybe here we can add autocomplete later -->
                    <input asp-for="SearchWord" class="form-control" placeholder="Toimipiste tai kohde" autocomplete="off" />
                </div>
                <div class="form-group col-md-2">
                    @Html.HiddenFor(model => model.Arrival, new { id = "Arrival" })
                    <input id="ArrivalDatePicker" class="form-control" autocomplete="off" placeholder="Saapuminen" value="@ViewBag.Arrival" />
                </div>
                <div class="form-group col-md-2">
                    @Html.HiddenFor(model => model.Departure, new { id = "Departure" })
                    <input id="DepartureDatePicker" class="form-control" autocomplete="off" placeholder="Lähtö" value="@ViewBag.Departure" />
                </div>
                <div class="form-group col-md-4">
                    <select asp-for="Rooms" class="form-control">
                        <option>1 makuuhuonetta</option>
                        <option>2 makuuhuonetta</option>
                        <option>3 makuuhuonetta</option>
                        <option>4 makuuhuonetta</option>
                        <option>5 makuuhuonetta</option>
                        <option>6 makuuhuonetta</option>
                        <option>7 makuuhuonetta</option>
                        <option>8 makuuhuonetta</option>
                        <option>9 makuuhuonetta</option>
                        <option>10 makuuhuonetta</option>
                        <option>>10 makuuhuonetta</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <input type="submit" value="Hae" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="_UpperFooterPartial" />

@section scripts{
    @* Scripts for calendar *@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/search-cabins.js" type="text/javascript"></script>

}